p {
    font-size: 200%;
    color: tomato;
}

* {
    padding: 0;
}
ul li {
    margin: 20px 10px;
    list-style: none;
    background: #eee;
}
ul .solid {
    border: 1px solid red;
}
ul .dashed {
    border: 1px dashed blue;
}

#one {
    font-size: 400%;
    color: orange;
}