img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    position: relative;
}

.item {
    position: absolute;
    display: block;
    transition: all .5s;
}


