body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
}

/* nav-global */
    .nav-global {
        background: #545652;
        padding: 0 .4em;
    }

    .nav-global a {
        display: inline-block;
        color: #d5d5d5;
        font-size: 12px;
        padding: .4em .8em;
    }
    .nav-global a:hover {
        color: #fff;
    }

/* nav-page */
    .nav-page {
        background: #f0f6f3;
    }
    .nav-page a {
        display: inline-block;
        color: #037b82;
    }
    .nav-page .logo {
        font-size: 32px;
        font-weight: 600;
        padding: .5em 0;
    }
    .nav-page .nav-page-group a {
        font-size: 14px;
        margin: 2em .7em;
    }
    .nav-page .nav-page-group a:hover {
        background: #037b82;
        color: #fff;
    }
/* nav-page-right */
    .nav-page .nav-page-right {
        position: relative;
    }
    .nav-page .nav-page-right input {
        width: 100%;
        padding: .7em;
        margin: 1.9em 0;
        border: 1px solid #e1ebe6;
    }
    .nav-page .nav-page-right input::-webkit-input-placeholder {
        color: #ccc;
    }
    .nav-page .nav-page-right span {
        position: absolute;
        top: 1.9em;
        right: .4em;
    }

/* main */
    .main .title-main {
        font-size: 26px;
        color: #494949;
        font-weight: 600;
        margin: 1.4em 0;
    }

/* card content-main */
    .content-main .card {
        margin-bottom: 20px;
    }
    .content-main .like {
        display: inline-block;
        background: #fae9da;
        color: #ca6445;
        text-align: center;
        font-size: 13px;
        padding: 8px 0;
        width: 48px;
        line-height: 1.3em;
    }

/* card content-wrap */
    .card .content-wrap {
        padding-left: 20px;
        padding-right: 30px;
    }

    .card .card-title {
        font-size: 15px;
        color: #259;
        line-height: 1.3;
    }
    .card .card-title:hover {
        background: #37a;
        color: #fff;
    }

    .card .desc {
        background: #f9f9f9;
        color: #999;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 13px;
        padding: 1em;
    }

    .card .card-desc {
        padding-left: 2em;
    }

    .card .other span:nth-child(1) {
        font-size: 13px;
        color: #666;
    }
    .card .other a {
        display: inline-block;
        margin-bottom: 10px;
    }
    .card .other a:hover {
        background: #37a;
        color: #fff;
    }
    .card .other span:nth-child(2) {
        font-size: 11px;
        color: #999;
        margin-left: 10px;
    }
    .card .other {
        border-bottom: 1px solid #eee;
    }

/* sidebar */
    .sidebar .side-card {
        padding: 10px 0; 
        border-bottom: 1px solid #eee;
    }

    .sidebar .side-title {
        font-size: 14px;
        color: #666;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .side-desc {
        padding-left: 20px;
    }
    .side-desc .side-card-title {
        display: inline-block;
        font-size: 14px;
        color: #259;
        line-height: 1.3;
        margin-bottom: 14px;
    }
    .side-desc .side-card-title:hover {
        background: #37a;
        color: #fff;
    }

    .side-desc .side-card-other {
        font-size: 13px;
        color: #666;
    }

    .side-desc .side-card-other span {
        margin-right: 3px;
    }
    
    .side-desc .side-card-other a {
        color: #259;
    }
    .side-desc .side-card-other a:hover {
        background: #37a;
        color: #fff;
    }

/* page-num */
    .page-num {
        padding: 0 10px;
        text-align: center;
        font-size: 14px;
    }

    .page-num a {
        color: #259;
        margin: 0 .3em;
    }
    .page-num a:hover {
        background: #37a;
        color: #fff;
    }
    
    .page-num span:nth-child(1) {
        color: #ccc;
        margin-right: 10px;
    }

    .page-num span:nth-last-child(1) {
        color: #fff;
    }

    .page-num span: {
        color: #259;
    }

    .page-num span {
        margin: 0 10px;
    }

    .page-num .link-selected {
        background: #6ebfc3;
        color: #fff;
        padding: 0 .5em;
    }

/* footer */
    .footer .container {
        font-size: 13px;
        border-top: 1px dashed #ddd;
        padding-top: 1em;
        line-height: 13px;
        margin-top: 40px;
    }
    
    .footer .filing {
        color: #999;
    }

    .footer a {
        margin: 0 .1em;
        color: #259;
    }
    .footer a:hover {
        background: #37a;
        color: #fff;
    }

    .pipe {
        display: inline-block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #259;
        position: relative;
        top: -.2em;
    }

    