* {
    box-sizing: border-box;
}

:root {
        font-family: sans-serif;
        font-size: 14px;
    }
    
    input,
    button {
        border: 1px solid #999;
        width: 100%;
        padding: .4rem;
        font-size: inherit;
        margin-bottom: .5rem;
        outline: none;
    }

    input {
        margin-top: .4rem;
    }
    
    button {
        background: #333;
        color: #fff;
    }
    
    main {
        padding: .5rem;
        margin: 0 auto;
        margin-top: 5rem;
        max-width: 40rem;
    }

    .error-container {
        background: pink;
        color: #c10;
        padding: .4rem;
        margin-bottom: .4rem;
        font-size: .8rem;
    }

    input.error {
        border: 1px solid #c10;
    }

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;  
    }

    td, th {
        padding: .6rem;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    th {

        border-color: rgba(0, 0, 0, .8);
    }
    
    [hidden] {
        display: none;
    }