:root {
    font-family: sans-serif;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    padding: .4rem 3rem;
    background: #fff;
}

.header .menu > * {
    padding: 0 1rem;
    line-height: 3rem;
}

.header .menu a:last-child {
    color: rgb(33, 112, 230);
}

.header .logo svg {
    width: 8rem;
}

.main {
    margin-top: 3rem;
}

.first-screen {
    margin-top: 12rem;
}

.main .title {
    font-size: 5rem;
    font-weight: 300;
}

.main .sub-img {
    margin: 2rem 0;
}

.main .sub-title {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 3rem;
}

.main .desc {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 3rem 0;
    width: 60%;
    line-height: 2.6rem;
    letter-spacing: .1rem;
}

.container-fliud  .post-img {
    background-image: url("img/mfsj-01.png");
    background-size: cover;
    height: 640px;
    width: 100%;
    margin: 3rem 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
