* {
    box-sizing: border-box;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.col-24,
.col-23,
.col-22,
.col-21,
.col-20,
.col-19,
.col-18,
.col-17,
.col-16,
.col-15,
.col-14,
.col-13,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1,
.col {
    float: left;

    border: 1px solid;
}

.col-1 {width: 4.1666666667%;}
.col-2 {width: 8.3333333333%;}
.col-3 {width: 12.5%;}
.col-4 {width: 16.6666666667%;}
.col-5 {width: 20.8333333333%;}
.col-6 {width: 25%;}
.col-7 {width: 29.1666666667%;}
.col-8 {width: 33.3333333333%;}
.col-9 {width: 37.5%;}
.col-10 {width: 41.6666666667%;}
.col-11 {width: 45.8333333333%;}
.col-12 {width: 50%;}
.col-13 {width: 54.1666666667%;}
.col-14 {width: 58.3333333333%;}
.col-15 {width: 62.5%;}
.col-16 {width: 66.6666666667%;}
.col-17 {width: 70.8333333333%;}
.col-18 {width: 75%;}
.col-19 {width: 79.1666666667%;}
.col-20 {width: 83.3333333333%;}
.col-21 {width: 87.5%;}
.col-22 {width: 91.6666666667%;}
.col-23 {width: 95.8333333333%;}
.col-24 {
    width: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    width: 70%;
    margin: 0 auto;
}

