body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    /* background: rgb(243, 243, 243); */
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.title-wrap {
    /* background: pink; */
    padding: 20px 0;
}
.title {
    font-size: 2em;
    font-weight: lighter;
    line-height: 24px;
}
.more {
    color: #999;
}

.card {
    display: block;
    text-align: center;
    border: 1px solid rgb(243, 243, 243);
    background: #fff;
    padding-bottom: 30px;
    margin-bottom: 12px;
}
.card:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transition: box-shadow .2s linear;
}
.card-title {
    font-size: 1.4em;
    padding: 10px 0;
}
.card-desc {
    color: #999;
}

.box-a,
.box-b {
    margin-bottom: 40px;
}

.box-b .card-group {
    padding-left: 0;
    padding-right: 0;
}
