:root {
    font-size: 14px;
}

.biao-alert-container {
    font-family: sans-serif;
    position: fixed;
    right: 1rem;
    top: 1rem;
}

.biao-alert {
    margin: .4rem 0;
}


.biao-alert.info .inner {
    background: rgb(40, 101, 233);
}

.biao-alert.danger .inner {
    background: rgb(240, 25, 25);
}

.biao-alert.warn .inner {
    background: rgb(240, 129, 25);
}

.biao-alert.success .inner {
    background: rgb(25, 240, 132);
}



.biao-alert .inner {
    /* background: rgb(40, 101, 233); */
    padding: .4rem;
    color: #fff;
    border-radius: .4rem;
    cursor: pointer;
}

.biao-alert .inner > * {
    padding: .2rem;;
}

.biao-alert .inner .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.biao-alert .inner .desc {
    font-weight: 300;
}