:root {
    background: #eee;
}

.todo-item {
    background: #fff;
    font-size: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: .6rem;
}

.todo-item > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    padding: 1rem;
}

.todo-item .checkbox {
    width: 10%;
}
.todo-item .title {
    width: 70%;
    font-size: 1rem;
    padding-left: 0;
}
.todo-item .operation {
    width: 20%;
    text-align: right;
}

.todo-item .operation button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
