:root {
    background: #eee;
}

.todo-item {
    background: #fff;
    font-size: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: .6rem;
}

.todo-item > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    padding: 1rem .4rem;
}

.todo-item .checkbox {
    width: 10%;
}
.todo-item .title {
    width: 65%;
    font-size: 1rem;
    padding-left: 0;
}
.todo-item .operation {
    width: 25%;
    text-align: right;
}

.todo-item .operation button,
.cat-item .operation button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.todo-item .operation button {
    padding-left: .2rem;
    padding-right: .2rem;
}

.container-sm > .left {
    float: left;
    width: 30%;
}
.container-sm > .right {
    float: left;
    width: 70%;
} 

.container-sm .left > * {
    padding-right: .6rem;
    margin-bottom: .6rem;
}


.sidebar-section .cat-item {
    padding: .6rem;
    border-radius: .2rem;
    transition: all .4s;
    /* color: #666; */
}

.sidebar-section .cat-item:hover {
    background: rgba(0, 0, 0, .1);
    color: #333;
}

.sidebar-section .active {
    color: #fff;
    background: rgb(49, 104, 255);
}

.left #add-cat {
    margin: .6rem 0;
    width: 100%;
    border: 1px solid #ccc;
    padding: .4rem 0;
    outline: none;
    cursor: pointer;
}

#cat-form .btn-group > * {
    float: left;
    width: 50%;
    padding: .4rem;
}
.cat-item {
    position: relative;
    cursor: pointer;
}

.cat-item .operation {
    position: absolute;
    top: 7px;
    right: 4px;
    display: none;
    transition: all .4s;
    color: #888;  
}
.cat-item:hover .operation {
    display: block;
}

.cat-item .operation > * {
    padding: 0;
}
.cat-item .operation button:hover {
    color: #333;
}