body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

input {
    outline: none;
}

.first-screen {
    background: #161616 url('https://s1.ljcdn.com/feroot/pc/asset/img/home/bannerV2.jpg') no-repeat;
    /* height: 600px; */
    width: 100%;
    background-position: center 0;
    overflow: hidden;
}

.nav {
    margin-top: 20px;
}

/* 导航栏左侧  */
    #logo {
        width: 108px;
        height: 49px;
        background-image: -webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?index=20170526') 2x);
        background-position: -17px -379px;
        display: inline-block;
        margin-right: 14px;
    }

    .nav a {
        color: #fff;
    }

    .locale {
        color: #fff;
        font-size: 13px;
        padding: 2px 8px;
        background: rgba(0, 0, 0, .4);
        border-radius: 10px;
        display: inline-block;
    }
    .locale-icon {
        width: 10px;
        height: 12px;
        display: inline-block;
        background-image: -webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?index=20170526') 2x) ;
        background-position: -189px -20px;
        position: relative;
        top: 1px;
    }

    .nav #logo,
    .nav .locale {
        vertical-align: middle;
    }

    .nav-left {
        margin-top: 20px;
    }

/* 导航栏右侧 */
    .login .link-group {
        font-size: 13px;
        font-weight: normal;
        display: inline-block;
        margin-left: 4px;
    }
    .login-icon {
        width: 17px;
        height: 16px;
        display: inline-block;
        background-image: -webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x) ;
        background-position: -203px -20px;
    }
    .login > * {
        vertical-align: middle;
    }
    .login {
        margin-bottom: 10px;
    }

    .nav-main {
        font-size: 16px;
        font-weight: 600;
    }
    .nav-main a {
        display: inline-block;
        padding-left: 16px;
        text-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }

    .nav-main .point {
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #fff;
        transform: rotate(45deg);
        border-radius: 1px;
        position: relative;
        top: -3px;
        margin-left: 14px;
    }

    .nav-main .lvju-icon {
        width: 19px;
        height: 22px;
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/lvju.png?_v=20181011211706') 1x);
        background-size:19px 22px;
        background-repeat:no-repeat;
        display: inline-block;
        margin-right: -4px;
    }

/* 大标题 */
    .title-main {
        color: #fff;
        text-align: center;
        margin-top: 100px;
    }
    .title-main h1 {
        font-size: 64px;
        font-weight: 600;
        margin: 0;
    }
    .title-main .sub-title {
        font-size: 18px;   
    }

/* 搜索框 */
    .search {
        width: 700px;
        margin: 0 auto;
        margin-top: 40px;
        position: relative;
    }

    .search .sort a {
        color: #ccc;
        font-weight: 600;
        font-size: 14px;
        margin-right: 10px;
    }
    .search .sort a:hover {
        color: #fff;
        transition: color 200ms;
    }

    .search input,
    .search button {
        outline: none;
        height: 54px;
        border: none;

    }
    
    .search input {
        width: 80%;
        padding: 10px;
        padding-left: 20px;
        font-size: 14px;
        border-radius: 3px 0 0 3px;
    }
    .search button {
        width: 20%;
        position: absolute;
        background: #00ae66;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0 3px 3px 0;
    }
    .search input:focus {
        border: 1px solid rgba(0, 0, 0, .2);
        border-right-width: 0;
    }
    .search button:focus {
        border: 1px solid rgba(0, 0, 0, .2);
        border-left-width: 0;
    }

    .search .arrow {
        line-height: 14px;
        display: block;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        width: 0;
        height: 0;
        border-bottom: 10px solid #fff;
        z-index: 9;
        position: relative;
        top: 3px;
        left: 16px;
    }

/* 下面三个 */
    .other {
        margin-top: 150px;
        color: #fff;
        margin-bottom: 30px;
    }
    .other img {
        width: 14px;
    }

    .other a {
        margin-right: 14px;
        font-size: 13px;
        opacity: .8;
    }
    .other a:hover {
        opacity: 1;
        transition: opacity 200ms;

    }
    .other a > * {
        vertical-align: middle;
    }

/* featurs */
    .featurs {
        text-align: center;
    }
    .featurs .card {
        padding: 60px 0;
    }
    .featurs .card img {
        width: 76px;
        height: 65px;
        vertical-align: middle;
    }

    .featurs .card .title {
        font-size: 18px;
        color: #394043;
        padding: 1em 0;
    }
    .featurs .card .desc {
        font-size: 13px;
        color: #b0b3b4;
    }

/* app-down */
    .app-down {
        background: #161616 url('https://s1.ljcdn.com/feroot/pc/asset/img/home/bg-app.jpg') no-repeat;
        width: 100%;
        background-position: center 0;
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 80px;
        /* height: 500px; */
    }

    .app-down .title {
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -448px -379px;
        width: 286px;
        height: 118px;     
    }

    .app-down .desc {
        display: block;
        width: 40%;
        font-size: 14px;
        line-height: 1.6em;
        color: #333;
        margin-top: 20px;
        margin-bottom: 40px; 
    }

    .app-down .down {
        width: 134px;
        margin-right: 10px;
    }
    .app-down .iphone {
        display: inline-block;
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -20px -139px;
        width: 134px;
        height: 44px;
    }
    .app-down .android {
        display: inline-block;
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -20px -197px;
        width: 134px;
        height: 44px;
        margin-top: 9px;
    }
    
    .app-down .qr-code img {
        display: block;
        width: 102px;
        height: 102px;
    }


/* 二手房部分 */
    .title-wrap .more a {
        color: #394043;        
    }
    .title-wrap .more a:hover {
        text-decoration: underline;
    }
    
    .second-house,
    .area,
    .new-house {
        padding: 60px 0;
        font-size: 13px;
    }
    .title-wrap {
        margin-bottom: 30px;
        padding: 0 8px;
    }
    .second-house .main-title {
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -19px -94px;
        width: 248px;
        height: 30px;
        display: block;
        margin-bottom: 14px;
    }
    .title-wrap .sub-title {
        color: #999;
        font-size: 14px;
    }

    .second-house .card-wrap {
        /* padding: 0 5px; */
    }
    .second-house .card {
        /* position: relative; */
    }
    .second-house .card,
    .area .card {
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        margin-bottom: 20px;
    } 
    .second-house .card img {
        height: 190px;
        width: 100%;
    }
    .second-house .card .tag {
        font-size: 18px;
        background: #394043;
        color: #fff;
        padding: 4px 6px;
        position: relative;
        bottom: 60px;  
    }
    .card .text-group {
        padding: 10px 14px;
    }
    .second-house .card .text-group > * ,
    .area .card .text-group > * {
        padding: 4px 0;
    }

    .second-house .card .text-group .desc,
    .second-house .card-wrap .info {
        font-size: 12px;
        color: #999;
    }

    .second-house .card .text-group .title {
        font-size: 16px;
        color: #333;
    }
    .second-house .card .text-group .desc span {
        margin-right: 4px;
    }

/* 小区部分 */
    .area {
        background: #eeeef1;
    }
    .area .main-title {
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/xiaoqu-recom.png?t=2017052520523424') 2x);
        width: 187px;
        height: 28px;
        background-size: 100%;
        display: block;
        margin-bottom: 14px;
    }
    .area .card {
        background: #fff;
    }
    .area .card img {
        height: 210px;
        width: 100%;
    }
    .area .card .title {
        font-size: 18px;
        font-weight: 600;
        color: #394043;
    }
    .area .card .text-group .desc {
        color: #394043;
        font-size: 14px;
        font-weight: 600;
    }
    .area .card .text-group .desc span:nth-last-child(1) {
        font-size: 12px;
        color: #888c8e;
        font-weight: 400;
    }

/* 新房部分 */
    .new-house .main-title {
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -20px -56px;
        width: 158px;
        height: 30px;
        display: block;
        margin-bottom: 14px;
    }
    
    .new-house .card {
        background-image: url('https://dummyimage.com/600x600/e0e0e0/e0e0e0');
        height: 260px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .new-house .card .text-group {
        text-align: center;
        width: 230px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -115px;
        margin-top: -60px;
        color: #fff;
        text-shadow: 0 1px 4px rgba(0,0,0,0.6);
    }
    .new-house .card .text-group .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .new-house .card .text-group .desc {
        font-size: 20px;
        font-weight: 600;
        color: #fff2ab;
    }
    .new-house .card .text-group .desc span:nth-last-child(1) {
        font-weight: 400;
    }

    .new-house .card .tag {
        position: absolute;
        left: 0;
        bottom: 20px;
        background: #fff2ab;
        color: #394043;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
    }

/* 查询真伪 */
    .truth {
        background: url('https://s1.ljcdn.com/feroot/pc/asset/img/home/truth-bgV2.jpg') no-repeat center top;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        overflow: hidden;
    }
    .truth .text-group {
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -19px -254px;
        width: 501px;
        height: 115px;
        margin-top: 4px;
    }
    .truth .search-wrap {
        padding-left: 20px;
    }
    .truth .search-wrap span {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .truth .search-wrap input {
        width: 100%;
        padding: 14px;
        border-radius: 3px;
        border: none;
    }
    .truth form {
        position: relative;
    }
    .truth .search-wrap .btn {
        background-image:-webkit-image-set(url('https://s1.ljcdn.com/feroot/pc/asset/img/home/spriteV2_new@2x.png?t=2017052520523424') 2x);
        background-position: -407px -20px;
        width: 18px;
        height: 18px;
        display: inline-block;
        position: absolute;
        top: 14px;
        right: 24px;
        cursor: pointer;
    }

/* 页尾 */
    .footer {
        background: url('https://s1.ljcdn.com/feroot/pc/asset/img/home/footer-bg.jpg') no-repeat center top #222;
        clear: both;
        width: 100%;
        height: 426px;
    }

    .footer .about {
        color: #fff;
        font-size: 14px;
        border-bottom: 1px solid #393939;
    }
    .footer .about a {
        display: inline-block;
        padding: 30px 0;
        margin-right: 14px;
    }
    .footer .about .service { 
        color: #7dcfa0;
        padding: 30px 8px;
    }

    .footer .city-wrap {
        font-size: 12px;
        color: #888c8e;
        padding-right: 200px;
        border-bottom: 1px solid #393939;
        padding-bottom: 20px;
    }
    .footer .city {
        padding: 14px 0 20px 0;
    }
    .footer .city a {
        background: #121212;
        display: inline-block;
        padding: 8px 10px;
        margin-right: 10px;
    }
    .footer .city a:hover {
        background: #394043;
        color: #fff;
        transition: color 200ms;
        transition: background 200ms;
    }
    .footer .city-list a {
        display: inline-block;
        padding: 6px 0;
        margin-right: 10px;
    }
    .footer .city-list a:hover {
        text-decoration: underline;
    }

    .footer .filing {
        font-size: 12px;
        color: #888c8e;
        margin-top: 20px;
    }

    .footer .filing a img {
        width: 14px;
        height: 14px;
    }
    .footer .filing a img,
    .footer .filing a span {
        vertical-align: middle;
    }
    
    .footer .filing a {
        display: inline-block;
    }
    .footer .filing div,
    .footer .filing a {
        line-height: 30px;
    }


/* 浮动下载 */
    .float-down {
        /* vertical-align: middle; */
        height: 118px;
        background: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -3px 80px rgba(0,0,0,0.08);
    }
    .float-down .wrap {
        width: 50%;
        margin: 0 auto;
    }
    .float-down .img {
        width: 190px;
        position: relative;
        bottom: 50px;
    }
    .float-down .con {
        text-align: center;
        margin-top: 30px;
    }
    .float-down .con .title {
        font-size: 20px;
        color: #394043;
    }
    .float-down .con span {
        font-size: 13px;
        color: #9c9fa1;
    }
    .float-down .qr-code {
        width: 100px;
        margin-top: 10px;
    }

    .float-down .close {
        width: 15px;
        margin-top: -108px;
        cursor: pointer;
    }
    