:root {
    font-family: sans-serif;
    font-size: 14px;
}

.board {
    display: inline-block;
    background: royalblue;
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}