.col-sm-1 {flex-basis: 4.1666666667%;}
.col-sm-2 {flex-basis: 8.3333333333%;}
.col-sm-3 {flex-basis: 12.5%;}
.col-sm-4 {flex-basis: 16.6666666667%;}
.col-sm-5 {flex-basis: 20.8333333333%;}
.col-sm-6 {flex-basis: 25%;}
.col-sm-7 {flex-basis: 29.1666666667%;}
.col-sm-8 {flex-basis: 33.3333333333%;}
.col-sm-9 {flex-basis: 37.5%;}
.col-sm-10 {flex-basis: 41.6666666667%;}
.col-sm-11 {flex-basis: 45.8333333333%;}
.col-sm-12 {flex-basis: 50%;}
.col-sm-13 {flex-basis: 54.1666666667%;}
.col-sm-14 {flex-basis: 58.3333333333%;}
.col-sm-15 {flex-basis: 62.5%;}
.col-sm-16 {flex-basis: 66.6666666667%;}
.col-sm-17 {flex-basis: 70.8333333333%;}
.col-sm-18 {flex-basis: 75%;}
.col-sm-19 {flex-basis: 79.1666666667%;}
.col-sm-20 {flex-basis: 83.3333333333%;}
.col-sm-21 {flex-basis: 87.5%;}
.col-sm-22 {flex-basis: 91.6666666667%;}
.col-sm-23 {flex-basis: 95.8333333333%;}
.col-sm-24 {flex-basis: 100%;}


.first-screen > .row {
    flex-wrap: wrap;
}
.first-screen .sm-img {
    display: none;
}
.first-screen .big-img {
    height: 300px;
}


.first-screen .sell {
    padding-left: 0;
}

.first-screen {
    margin-top: 2.5rem;
}

.first-screen .title,
.first-screen .desc,
.first-screen .btn,
.first-screen .size,
.first-screen .selected-size,
.first-screen .price {
    margin: 1rem 0;
}

.first-screen {
    margin-bottom: 0rem;
}

.size a {
    display: inline-block;
}



.in-wrap .title {
    font-size: 1.4rem;
}


.in-wrap {
    margin: 2rem 0;
}

.in-wrap .desc {
    width: 100%;
    margin: 1rem auto;
    color: #444;
}

.recommend > .row {
    flex-wrap: wrap;
}

.recommend > .row a {
    display: inline-block;
    margin-bottom: 2rem;
}