.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container {
    margin: 0 auto;
}

@media (min-width: 1220px) {
    .container {
        max-width: 980px;
    }
  }

@media (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

.text-cn {
    text-align: center;
}
.text-fr {
    text-align: right;
}

.col-1 {flex-basis: 4.1666666667%;}
.col-2 {flex-basis: 8.3333333333%;}
.col-3 {flex-basis: 12.5%;}
.col-4 {flex-basis: 16.6666666667%;}
.col-5 {flex-basis: 20.8333333333%;}
.col-6 {flex-basis: 25%;}
.col-7 {flex-basis: 29.1666666667%;}
.col-8 {flex-basis: 33.3333333333%;}
.col-9 {flex-basis: 37.5%;}
.col-10 {flex-basis: 41.6666666667%;}
.col-11 {flex-basis: 45.8333333333%;}
.col-12 {flex-basis: 50%;}
.col-13 {flex-basis: 54.1666666667%;}
.col-14 {flex-basis: 58.3333333333%;}
.col-15 {flex-basis: 62.5%;}
.col-16 {flex-basis: 66.6666666667%;}
.col-17 {flex-basis: 70.8333333333%;}
.col-18 {flex-basis: 75%;}
.col-19 {flex-basis: 79.1666666667%;}
.col-20 {flex-basis: 83.3333333333%;}
.col-21 {flex-basis: 87.5%;}
.col-22 {flex-basis: 91.6666666667%;}
.col-23 {flex-basis: 95.8333333333%;}
.col-24 {flex-basis: 100%;}



/* media - max-width: 414px */
    .col-sm-1 {flex-basis: 4.1666666667%;}
    .col-sm-2 {flex-basis: 8.3333333333%;}
    .col-sm-3 {flex-basis: 12.5%;}
    .col-sm-4 {flex-basis: 16.6666666667%;}
    .col-sm-5 {flex-basis: 20.8333333333%;}
    .col-sm-6 {flex-basis: 25%;}
    .col-sm-7 {flex-basis: 29.1666666667%;}
    .col-sm-8 {flex-basis: 33.3333333333%;}
    .col-sm-9 {flex-basis: 37.5%;}
    .col-sm-10 {flex-basis: 41.6666666667%;}
    .col-sm-11 {flex-basis: 45.8333333333%;}
    .col-sm-12 {flex-basis: 50%;}
    .col-sm-13 {flex-basis: 54.1666666667%;}
    .col-sm-14 {flex-basis: 58.3333333333%;}
    .col-sm-15 {flex-basis: 62.5%;}
    .col-sm-16 {flex-basis: 66.6666666667%;}
    .col-sm-17 {flex-basis: 70.8333333333%;}
    .col-sm-18 {flex-basis: 75%;}
    .col-sm-19 {flex-basis: 79.1666666667%;}
    .col-sm-20 {flex-basis: 83.3333333333%;}
    .col-sm-21 {flex-basis: 87.5%;}
    .col-sm-22 {flex-basis: 91.6666666667%;}
    .col-sm-23 {flex-basis: 95.8333333333%;}
    .col-sm-24 {flex-basis: 100%;}


/* media - max-width: 768px */
    .col-md-1 {flex-basis: 4.1666666667%;}
    .col-md-2 {flex-basis: 8.3333333333%;}
    .col-md-3 {flex-basis: 12.5%;}
    .col-md-4 {flex-basis: 16.6666666667%;}
    .col-md-5 {flex-basis: 20.8333333333%;}
    .col-md-6 {flex-basis: 25%;}
    .col-md-7 {flex-basis: 29.1666666667%;}
    .col-md-8 {flex-basis: 33.3333333333%;}
    .col-md-9 {flex-basis: 37.5%;}
    .col-md-10 {flex-basis: 41.6666666667%;}
    .col-md-11 {flex-basis: 45.8333333333%;}
    .col-md-12 {flex-basis: 50%;}
    .col-md-13 {flex-basis: 54.1666666667%;}
    .col-md-14 {flex-basis: 58.3333333333%;}
    .col-md-15 {flex-basis: 62.5%;}
    .col-md-16 {flex-basis: 66.6666666667%;}
    .col-md-17 {flex-basis: 70.8333333333%;}
    .col-md-18 {flex-basis: 75%;}
    .col-md-19 {flex-basis: 79.1666666667%;}
    .col-md-20 {flex-basis: 83.3333333333%;}
    .col-md-21 {flex-basis: 87.5%;}
    .col-md-22 {flex-basis: 91.6666666667%;}
    .col-md-23 {flex-basis: 95.8333333333%;}
    .col-md-24 {flex-basis: 100%;}