.first-screen {
    background-image: url('../img/first-screen-img.jpg');
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    margin-top: 2.5rem;
    /* display: block; */
}

.first-screen .title {
    font-size: 4rem;
    font-weight: 600;
    color: rgb(27, 27, 27);
    margin-top: 12rem;
    margin-bottom: 3rem;
    display: inline-block;
    cursor: default;
}

.first-screen span {
    display: block;
    max-width: 30%;
    font-size: .9rem;
    cursor: default;
}

.main-show {
    background-image: url('../img/all.png');
    background-repeat: no-repeat;
    background-position: 50% 42%;
    background-size: 100%;
    display: block; 
    height: 100%;
}

.main-show .title {
    font-size: 4rem;
    font-family: 'source Han Serif TW';
    font-weight: 900;
    display: inline-block;
    margin-top: 70%;
}

.sub-show {
    flex-wrap: wrap;
    height: 100%;
}

.main-show,
.sub-show > * {
    border: 1px solid #eee;
}

.card-wrap {
    margin-top: .4rem;

}



.sub-show .title {
    display: inline-block;
    padding: 2rem 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    margin-top: 80%;
}

.sub-show > * {
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 90%;
    display: block;
    height: 50%;
}

.spring {
    background-image: url('../img/spring.png');
}
.summer {
    background-image: url('../img/summer.png');
}
.fall {
    background-image: url('../img/fall.png');
}
.winter {
    background-image: url('../img/winter.png');
}

.frontend-html {
    background-image: url('../img/html.png');
}
.frontend-css {
    background-image: url('../img/css.png');
}
.frontend-js {
    background-image: url('../img/js.png');
}
.frontend-more {
    background-image: url('../img/more.png');
}



.frontend {
    background: #000;
}
.frontend .icon {
    color: red;
    fill: red;
    font-size: 50rem;
    /* width: 45rem; */
    /* height: 45rem; */
    margin-top: 6rem;
}

@media (max-width: 1366px) {
    .frontend .icon {
        font-size: 30rem;
    }
}

.more {
    margin: 3rem 0;
    font-size: 2rem;
    color: #eee;
    font-weight: 400;
}



.project-wrap a:hover {
    color: #444;
    text-decoration: underline;
    transition: all 200ms;
}