body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background: #f6f6f6;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

input {
    outline: none;
}


/* nav */
    .nav {
        padding: 10px 0;
        box-shadow: 0 1px 3px rgba(26,26,26,.1);
        background: #fff;
        margin-bottom: 10px;
    }

    .logo {
        display: inline-block;
        fill: #0084ff;
        line-height: .9rem;
    }
    .logo svg {
        width: 64px;
    }

    .nav a {
        color: #8590a6;
    }

    .nav-list a:hover {
        color: #175199;
        transition: color 200ms;
    }

    .nav-list a {
        /* display: inline-block; */
        padding: 0 12px;
        line-height: 2rem;
        font-size: 1rem;
    }

    .search {
        position: relative;
        font-size: 0;
    }
    .search input,
    .search .search-btn {
        display: inline-block;
        padding: 7px;
        /* border: 1px solid #333; */
        font-size: .8rem;
        line-height: 1.1rem;
    }

    .search input {
        width: 82%;
        border-radius: 3px;
        background: #f6f6f6;
        border: 1px solid #ebebeb;
        color: #8590a6;

    }
    .search input:focus {
        border: 1px solid #8590a6;
    }

    .search .search-btn {
        /* position: absolute; */
        width: 15%;
        text-align: center;
        margin-left: 10px;
        background: #0084ff;
        border-radius: 3px;
        color: #fff;
        font-size: .9rem;
        line-height: 1.2rem;
    }
    .search .search-btn:hover {
        border-color: #0077e6;
        background-color: #0077e6;
        transform: all 200ms;
    }

    .search .search-icon {
        position: absolute;
        top: 7px;
        right: 90px;
    }

    .nav-right a > * {
        vertical-align: middle;
    }
    .nav-right a {
        padding: 0 20px;
        position: relative;
    }
    .nav-right a svg {
        width: 22px;
    }
    .nav-right svg:hover {
        fill: #77839c; 
        transform: all 200ms;
    }

    .nav-right .nav-user img {
        border-radius: 50%;
    }

    .nav-right a span {
        position: absolute;
        top: -11px;
        left: 31px;
        background: #f1403c;
        color: #fff;
        padding: 0 5px;
        line-height: inherit;
        font-size: .4rem;
        border-radius: 10px;
        border: 2px solid #fff;
    }

/* content */
    .content,
    .side-bar,
    .category,
    .user {
        background: #fff;
        /* padding: 10px; */
        box-shadow: 0 1px 3px rgba(26,26,26,.1);
    }
    
    .title-bar {
        border-bottom: 1px solid #f0f2f7;
        position: relative;
    }
    .title-bar a {
        display: inline-block;
        font-size: 1rem;
        padding: 20px;
        /* margin: 0 10px; */
        color: #1a1a1a;
    }

    .title-bar-selected {
        font-weight: 600;
    }
    .title-bar-selected::after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 3px;
        background: #0084ff;
        position: absolute;
        top: 58px;
        left: 19px;
    }

/* card */
    .main .content {
        padding-left: 0;
        padding-right: 0;
    }

    .card,
    .card-thumbnail {
        padding: 20px;
        border-bottom: 1px solid #f0f2f7;
    }
    .card .title,
    .card-thumbnail .title {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .card .title:hover,
    .card-thumbnail .title:hover {
        color: #175199;

    }

    .card-con {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card .img {
        display: inline-block;
        width: 25%;
    }
    .card .img img {
        display: block;
    }
    
    .card-con .desc {
        display: inline-block;
        width: 75%;
        padding-left: 20px;
    }

    .card-con .text {
        color: #1a1a1a;
    }
    .card-con .text:hover,
    .card-con .more:hover {
        color: #646464;
    }

    .card-con .more {
        color: #175199;
        /* margin-left: 4px; */
        white-space: nowrap;
    }
    .card-con .more svg {
        width: 24px;
        height: 24px;
    }
    .card-con .more > * {
        vertical-align: middle;
    }

    .card-thumbnail .desc {
        width: 100%;
        padding-left: 0;

    }

    .other a > * {
        vertical-align: middle;
    }

    .other {
        color: #8590a6;
        line-height: 1.6rem;
        /* align-items: center; */
    }
    .other:hover {
        color: #77839c;
        transition: all 200ms;
    }
    .other a {
        display: inline-block;
        padding: 2px 10px;
        font-size: .9rem;
    }

    .other .praise,
    .other .oppose {
        color: #0084ff;
        background: rgba(0,132,255,.1);
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 4px;
        font-size: .9rem;
    }
    .other .praise:hover,
    .other .oppose:hover {
        background: rgba(0,132,255,.2);
    }
    .other .praise {
        margin-right: 6px;
    }

    .other .praise svg,
    .other .oppose svg {
        width: .8rem;
        height: .8rem;
    }

    .other .comment svg {
        width: 1.2rem;
        height: 1.2rem;
    }

    .other .share svg,
    .other .collect svg,
    .other .thank svg,
    .other .thank svg,
    .other .also svg {
        width: 1rem;
        height: 1rem;
    }

    

/* side-bar */
    .side-bar,
    .category {
        margin-bottom: 10px;

    }
    .featurs {
        text-align: center;
        padding: 20px 10px;
    }
    
    .featurs svg {
        /* display: block; */
        width: 24px;
        height: 24px;
        color: #8590a6;
    }

    
    .featurs a {
        font-size: 1rem;
        color: #444;
    }
    .featurs a:hover {
        color: #175199;
    }


    .draft-wrap:hover {
        background: #f6f6f6;
        transition: all 200ms;
    }
    
    .draft-wrap svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .draft-wrap .draft {
        margin-left: 20px;
        margin-right: 20px;
        /* border-top: 1px solid blue; */
        color: #8590a6;
    }
    .draft-wrap .draft a {
        line-height: 1.7rem;
    }

    .draft-wrap a > * {
        vertical-align: middle;
    }
    .draft-wrap a {
        display: block;
        border-top: 1px solid #f0f2f7;
        padding: 10px 0;
    }

    .draft-wrap .num {
        font-size: .6rem;
        background: red;
        text-align: center;
        color: #8590a6;
        background: #f6f6f6;
        border-radius: 3px;
    }


    .category {
        text-align: center;
        padding: 14px 10px;
        color: #8590a6;
    }
    .category .item {
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .category svg {
        margin-bottom: 4px;
    }

    .category .live svg {
        color: rgb(255, 207, 0);
    }
    .category .book svg {
        color: rgb(67, 212, 128);
    }
    .category .table svg {
        color: rgb(0, 132, 255);
    }
    .category .column svg {
        color: rgb(15, 136, 235);
    }
    .category .advisory svg {
        color: rgb(84, 120, 240);
    }

    .category .live div:hover {
        color: rgb(255, 207, 0);
        transition: all 200ms;
    }
    .category .book div:hover {
        color: rgb(67, 212, 128);
        transition: all 200ms;
    }
    .category .table div:hover {
        color: rgb(0, 132, 255);
        transition: all 200ms;
    }
    .category .column div:hover {
        color: rgb(15, 136, 235);
        transition: all 200ms;
    }
    .category .advisory div:hover {
        color: rgb(84, 120, 240);
        transition: all 200ms;
    }

    .category .live:hover {
        color: rgb(255, 207, 0);
        transition: all 200ms;
    }
    .category .book:hover {
        color: rgb(67, 212, 128);
        transition: all 200ms;
    }
    .category .table:hover {
        color: rgb(0, 132, 255);
        transition: all 200ms;
    }
    .category .column:hover {
        color: rgb(15, 136, 235);
        transition: all 200ms;
    }
    .category .advisory:hover {
        color: rgb(84, 120, 240);
        transition: all 200ms;
    }



    .user {
        padding: 10px 0;
    }
    .user .list {
        padding: 10px 0;
        color: #8590a6;
    }
    .user .list:hover {
        background: #f6f6f6;
        transition: all 200ms;
    }
    
    .user a > * {
        vertical-align: -webkit-baseline-middle;
    }
    .user .list a {
        display: block;
        padding: 0 20px;
        line-height: 1.2rem;
        position: relative;
    }

    .user .list span {
        line-height: 1.2rem;
    }
    .user .list span:nth-last-child(1) {
        position: absolute;
        top: 5px;
        right: 20px;
        background: #f6f6f6;
        padding: 0 6px;
        border-radius: 3px;
    }


    .user .list svg {
        width: 1.1rem;
        height: 1.1rem;
    }