

/* side-bar */
    .side-bar-wrap {
        font-size: 1rem;
        color: #4A4A4A;
    }

    .side-bar {
        border-right: 1px dashed rgba(0, 0, 0, .1);

        height: 100%;
        width: 16.6666666667%;
        position: fixed;
    }

    .side-bar > * {
        flex-wrap: wrap;  
        border-bottom: 1px dashed rgba(0, 0, 0, .1);
    }

    .user {
        text-align: center;
    }

    .logo img {
        width: 80px;
    }
    .logo {
        margin-bottom: .6rem;
    }

    .header {
        padding: 6rem 0;
        font-weight: 600;
    }
    .header-desc {
        line-height: 1.6rem;
    }


    .name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
    }

    .nav,
    .nav-label {
        padding: 4rem 0;
    }

    .nav a,
    .nav-label a {
        padding: .6rem 0;
    }


/* 内容卡片 */
    .main {
        /* background: rgb(255, 135, 181); */


    }

    .card-wrap {
        padding: 1rem 2rem;
    }

    .card {
        background: rgb(245, 41, 41);
    }

    .title {
        font-size: 1.6rem;
        font-weight: 600;
    }