

/* side-bar */
    .side-bar-wrap {
        font-size: 1rem;
        color: #4A4A4A;
    }

    .side-bar {
        border-right: 1px dashed rgba(0, 0, 0, .1);

        height: 100%;
        width: 16.6666666667%;
        position: fixed;
    }

    .side-bar > * {
        flex-wrap: wrap;  
    }

    .user {
        text-align: center;
    }

    .logo img {
        width: 80px;
    }
    .logo {
        margin-bottom: .6rem;
    }

    .header {
        font-weight: 600;
        padding: 1rem 0;
    }
    .header-desc {
        line-height: 1.6rem;
    }


    .name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
    }

    .nav a {
        padding: 1rem 0;
    }
    .nav-label a {
        padding: .6rem 0;
    }

    /* 分割线 */
    .side-bar .spline span {
        width: 100%;
        height: 1px;
        border-top: 1px dashed rgba(0, 0, 0, .1);
    }

/* 内容卡片 */
    /* .main {
        background: rgb(255, 135, 181);
    } */

    .card-wrap {
        padding: 1rem 8rem;
    }


    .card-title {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 8rem;
    }

    .card-l {
        color: #666;
        font-size: .9rem;
    }
    
    .card .sort a {
        margin-right: .2rem;
        margin-bottom: 1rem;
        display: inline-block;
    }

    .card .more a {
        border: 1px solid #333;
        color: #333;
        display: inline-block;
        padding: .6rem 1.6rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }
    
    .card-r {
        padding-left: 4rem;
        font-size: .9rem;
        line-height: 1.6rem;
    }
    .card-desc span {
        display: inline-block;
        margin-bottom: 1rem;
    }
    
    .card-con,
    .card-title {
        padding: 0 .4rem;
    }
    .card .card-img-wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-img {
        text-align: center;
        padding: .4rem;
    }
    