

/* side-bar */
  

/* 内容卡片 */
    /* .main {
        background: rgb(255, 135, 181);
    } */

    .card-wrap {
        padding: 1rem 8rem;
    }


    .card-title {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 8rem;
        color: #2E2E2E;
    }

    .card-title a:hover,
    .card .sort a:hover {
        text-decoration: underline;
    }

    .card-l {
        color: #666;
        font-size: .9rem;
    }
    
    .card .sort a {
        margin-right: .2rem;
        margin-bottom: 1rem;
        display: inline-block;
    }

    .card .more a {
        border: 1px solid #333;
        color: #333;
        display: inline-block;
        padding: .6rem 1.6rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }
    .card .more a:hover {
        background: #000;
        color: #fff;
        transition: all 200ms;
    }
    .card .more a span {
        margin-right: .4rem;
    }
    
    .card-r {
        padding-left: 4rem;
        font-size: .9rem;
        line-height: 1.6rem;
        color: #2E2E2E;
    }
    .card-desc span {
        display: inline-block;
        margin-bottom: 1rem;
    }
    .card-desc:hover {
        color: #999;
        transition: all 200ms;
    }
    
    .card-con,
    .card-title {
        padding: 0 .4rem;
    }
    .card .card-img-wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-img {
        text-align: center;
        padding: .4rem;
    }
