.side-bar {
    display: none;
}

.md-nav {
    display: block;
}

.col-md {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main {
    flex-basis: 100%;
}

.card-wrap,
.md-nav {
    padding: 0 1rem;
}

.md-nav {
    background: #333;
    color: #eee;
    fill: #eee;
    padding: .4rem 1rem;
    flex-wrap: wrap;
}

.md-nav .logo a {
    display: inline-block;
    background: #fff;
    color: #333;
    border-radius: 50%;
    padding: .2rem;
}
.md-nav .logo {
    margin-bottom: 0;
}
.md-nav .logo a svg {
    font-size: 1.6rem;
}

.row-md {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.nav {
    text-align: right;
}

.nav a,
.nav-list a,
.nav-label a {
    display: inline-block;
    padding: .35rem 0;
}
.nav-list a {
    padding: 1rem;
}

.nav-label a {
    padding: .4rem 1rem;
}

.nav-list,
.nav-label {
    text-align: center;
} 

.nav-label {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
}

