.side-bar-wrap {
    font-size: 1rem;
    color: #4A4A4A;
}

.side-bar {
    border-right: 1px dashed rgba(0, 0, 0, .1);

    height: 100%;
    width: 16.6666666667%;
    position: fixed;
}

.side-bar > * {
    flex-wrap: wrap;
    /* flex-grow: 1;   */
}

.user {
    text-align: center;
}

.logo svg {
    font-size: 4.5rem;
}
.logo svg:hover {
    transform: scale(1.06);
    transition: transform .15s cubic-bezier(0,.3,.8,1) 0s;
}
.logo {
    margin-bottom: .6rem;
}

.header {
    font-weight: 600;
    padding: 2rem 0;
    font-size: .9rem;
}

.header .name:hover {
    text-decoration: underline;
}

.header-desc {
    line-height: 1.6rem;
}


.name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.nav a {
    padding: .8rem 0;
}
.nav a:hover,
.nav-label a:hover {
    color: #333;
    transition: all 200ms;
    font-weight: 600;
}

.side-bar .nav .icon,
.side-bar .nav-label .icon {
    font-weight: 600;
    margin-right: .4rem;
}

.nav,
.nav-label {
    font-size: .8rem;
}

.nav-label a {
    padding: .6rem 0;
}

/* 分割线 */
.side-bar .spline span {
    width: 100%;
    height: 1px;
    border-top: 1px dashed rgba(0, 0, 0, .1);
}