.side-bar {
    display: none;
}

.md-nav {
    display: block;
}

.col-md {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main {
    flex-basis: 100%;
}

.card-wrap,
.md-nav {
    padding: 0 1rem;
}

.md-nav {
    background: #333;
    color: #eee;
    fill: #eee;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.md-nav .logo a {
    display: inline-block;
    background: #fff;
    color: #333;
    border-radius: 50%;
    padding: .2rem;
}
.md-nav .logo {
    margin-bottom: 0;
    padding: .4rem 0;
}
.md-nav .logo a svg {
    font-size: 1.6rem;
}

.row-md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu {
    text-align: right;
}


.nav-list a,
.nav-label a {
    display: inline-block;
    padding: .35rem 0;
}
.nav-list a {
    padding: 1rem 0;
}

.nav-label a {
    padding: .6rem .5rem;
}

.nav-list,
.nav-label {
    display: none;
    text-align: center;
} 
.nav-list {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    padding: 1rem 0;
}
.nav-label {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    font-size: .8rem;
    color: #ccc;
}

.nav-label a:hover {
    color: #ccc;
    font-weight: 400;

}

#menu-checkbox:checked ~ .nav-list,
#menu-checkbox:checked ~ .nav-label {
    display: block;
}

#menu-checkbox {
    text-align: right;
    display: none;
    padding: .35rem 0;
}

#menu-toggle svg {
    padding: .9rem 0;
}

.menu-wrap {
    text-align: right;
    padding: .9rem 0;
}

