img {
    max-width: 100%;
    display: block;
}

.container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

#box {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.item {
    position: absolute;
    width: 100%;
    display: block;
    transition: all 1s;
}

