:root {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.slider {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}