:root {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

main {
    width: 40rem;
    margin: 0 auto;
    margin-top: 10rem; 
}

h1 {
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
    font-size: 2.4rem;
}

form input {
    width: 100%;
    outline: none;
    border: 1px solid #999;  
    padding: .8rem;
    display: inline-block;
}

#user-list .item {
    width: 100%;
    padding: 1rem;
    margin-bottom: .4rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#user-list .item > * {
    display: inline-block;
    vertical-align: middle;
}

#user-list .item .avatar {
    width: 10%;
    margin-right: 1rem;
}

#user-list .item .username {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .4rem;
}

#user-list .item .username:hover {
    font-weight: 800;
    transition: all .4s;
}

#user-list .item .html_url {
    color: #888;
}

#user-list .item .html_url:hover {
    text-decoration: underline;
    color: rgb(41, 68, 141);
    transition: all .4s;
}


#page-container {
    text-align: center;
}
.active {
    background: rgb(30, 98, 247);
    color: #fff;
}