:root {
    background: #eee;
}

input,
button,
.todo-item {
    border-radius: .2rem;
}

#todo-form,
.todo-item {
    margin-bottom: 1.4rem;    
}

.todo-item {
    font-size: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    margin-bottom: .6rem;
}

.todo-item > *  {
    display: inline-block;
    vertical-align: middle;
    padding: 1rem .6rem;
    font-size: 1rem;
}

.todo-item > .checkbox {
    width: 5%;
}

.todo-item > .title {
    width: 65%;
}

.todo-item > .operations {
    width: 30%;
    text-align: right;
}

.main-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
}

.operations .fill,
.operations .delete {
    background: none;
    border: none;
    cursor: hand;
    transition: all .4s;
}

.operations .fill {
    color: rgb(42, 42, 255);
}

.operations .delete {
    color: rgb(192, 192, 192);
}

.operations .fill:hover {
    color: rgb(19, 19, 185);

}

.operations .delete:hover {
    color: #999;
}


.sidebar-section {
    padding: 0 .2rem;
    padding-right: .6rem;
}

.sidebar-section > * {
    margin-bottom: .4rem;
    cursor: pointer;
}

.sidebar-section .item:hover {
    background: rgb(223, 223, 223);
    color: #333;
}

.sidebar-section > .active {
    background: rgb(45, 136, 240); 
    color: #fff;
}

.sidebar-section .item {
    padding: .4rem;
}

.sidebar-section button {
    width: 100%;
    padding: .4rem 0;
}



#cat-form .btn-group > * {
    width: 50%;
    float: left;
}