
/* 导航栏 */

    .nav {
        background: #fff;
        box-shadow: 0 1px 3px rgba(26,26,26,.1);
        padding: .6rem 0;
        margin-bottom: 1rem;
    }

    .nav a {
        display: inline-block;
    }

    .nav .logo {
        fill: #0084ff;
        flex-grow: 1;
        width: 64px;
        height: 30px;
        line-height: 1rem;
    }

    .nav-list {
        flex-grow: 6;
    }

    .nav-list a {
        font-size: .9rem;
        padding: .3rem .6rem;
        color: #8590a6;
    }
    .nav-list a:hover {
        color: #175199;
        transition: all 200ms;
    }


    .search {
        position: relative;
        flex-grow: 10;
    }

    .search input {
        width: 70%;
        padding: .4rem 1rem;
        border: 1px solid #ebebeb;
        background: #f6f6f6;
        border-radius: 2px;
    }
    .search input:focus {
        border: 1px solid #1a1a1a;
    }
    .search button {
        background: #0084ff;
        color: #fff;
        padding: 0 1rem;
        font-size: .9rem;
        border-radius: 4px;
        font-weight: 400;
    }
    .search button:hover {
        background: #0077e6;
        transition: all 200ms;
    }

    .search a {
        position: absolute;
        top: 6px;
        right: 84px;
        color: #8590a6;
    }



    .nav-r {
        flex-grow: 1;
    }

    .nav-r .avatar img {
        border-radius: 50%;
    }

    .nav-r a svg {
        width: 22px;
        height: 22px;
        fill: #8590a6;
    }
    .nav-r a svg:hover {
        fill: #7b869b;
        transition: all 200ms;
    }

    .nav-r a > * {
        vertical-align: middle;
    }

    .nav-r a {
        margin-left: 2rem;
        position: relative;
    }
    .nav-r a span {
        position: absolute;
        top: -5px;
        left: 12px;
        background: #f1403c;
        border-radius: 20px;
        font-size: .6rem;
        padding: 0 .3rem;
        color: #fff;
        border: 2px solid #fff;
    }
/* 导航栏 - 结束 */

/* 主要内容 */



/* 左侧内容 - 开始 */
.main {
    flex-basis: 69%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.main a {
    display: inline-block;
}
.main .title a {
    position: relative;
    font-size: 1rem;
    padding: 1rem;
}
.main .title {
    border-bottom: 1px solid #f6f6f6;
}
.main .selected {
    font-weight: 600;
}
.main .selected::after {
    display: inline-block;
    content: '';
    width: 2rem;
    height:.2rem;
    background: #0077e6;
    position: absolute;
    bottom: 0;
    left: 1rem;
}

/* 卡片 */
.card-wrap {
    border-bottom: 1px solid #f6f6f6;
}

.card {
    padding: .4rem 1rem;
    width: 100%;
}
.card > a {
   width: 100%; 
}

.card-title a {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .6rem 0;
}
.card-title a:hover {
    color: #175199;
    transition: all 200ms;
}

.card .thumbnail img {
    display: block;
}

.card .desc > span {
    font-size: .9rem;
    line-height: 1.2rem;
    color: #1a1a1a;
    cursor: pointer;
}
.card .desc > span:hover {
    color: #646464;
    transition: all 200ms;
}

.card .desc a {
    color: #175199;
    margin-left: .4rem;
}
.card .desc a:hover {
    color: #646464;
    transition: all 200ms;
}

.card .desc a > * {
    vertical-align: middle;
}



.card .other {
    padding: 1rem 0;
}

.card .other a > * {
    vertical-align: middle;
}

.card .other .btn a {
    background: rgba(0,132,255,.1);
    color: #0077e6;
    padding: .4rem .8rem;
    border-radius: 4px;
}
.card .other .btn a:hover {
    background: rgba(0,132,255,.2);
    transition: all 200ms;
}

.card .other .btn {
    margin-right: 2rem;
}

.card .other .item {
    color: #8590a6;
}
.card .other .item a {
    padding: 0 .4rem;
}
.card .other .item a:hover {
    color: #77839c;
    transition: all 200ms;
}

/* 左侧内容 - 结束 */

/* side-bar */
.featurs-main svg,
.featurs-main span {
    width: 100%;
}


.featurs,
.project,
.side-bar .other {
    color: #8590a6;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    font-size: 1rem;

    margin-bottom: 1rem;
}
.featurs-main {
    padding: 1rem;
    text-align: center;
}
.featurs-main span {
    color: #444;
}
.featurs-main span:hover {
    color: #175199;
    transition: all 200ms;
}

.draft-wrap {
    border-top: 1px solid #f0f2f7;
    padding: 1rem;
    font-size: .9rem;
}
.draft-wrap:hover,
.side-bar .other-item:hover {
    background: #f6f6f6;
    transition: all 200ms;
}

.draft-wrap .num {
    margin-left: auto;
    background: #f6f6f6;
    padding: 0 .4rem;
    border-radius: 4px;
}
.draft-wrap svg,
.side-bar .other-item svg {
    margin-right: .4rem;
}


.project {
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    padding: .5rem 1rem;
    font-size: .9rem;
}

.project > * svg,
.project > * span {
    width: 100%;
}
.project > * svg {
    margin-bottom: .4rem;
}

.project > * {
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.project .live svg {
    color: rgb(255, 207, 0);
}
.project .book svg {
    color: rgb(67, 212, 128);
}
.project .table svg {
    color: rgb(0, 132, 255);
}
.project .column svg {
    color: rgb(15, 136, 235);
}
.project .advisory svg {
    color: rgb(15, 136, 235);
}



.project .live:hover {
    color: rgb(255, 207, 0);
    transition: all 200ms;
}
.project .book:hover {
    color: rgb(67, 212, 128);
    transition: all 200ms;
}
.project .table:hover {
    color: rgb(0, 132, 255);
    transition: all 200ms;
}
.project .column:hover {
    color: rgb(15, 136, 235);
    transition: all 200ms;
}
.project .advisory:hover {
    color: rgb(15, 136, 235);
    transition: all 200ms;
}




.side-bar .other {
    padding: .4rem 0;
}
.side-bar .other-item {
    font-size: .9rem;
    padding: 1rem;
}

.side-bar .other-item .num {
    margin-left: auto;
}
.side-bar .num-selected {
    margin-left: auto;
    background: #f6f6f6;
    padding: 0 .4rem;
    border-radius: 4px;
}



.footer {
    flex-wrap: wrap;
    color: #8590a6;
}

.footer a:hover {
    color: #175199;
    transition: all 200ms;
}

.footer > * {
    padding: .2rem 0;
    width: 100%;
}


.footer .contact {
    display: inline-block;
} 

.footer .spline {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #8590a6;
    position: relative;
    top: -3px;
}