* {
    box-sizing: border-box;
    color: #333;
}

:root {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

input, button, textarea {
    color: inherit;
}

input, button, .todo-item {
    border-radius: .2rem;
}

form input,
form button {
    width: 100%;
    outline: none;
    padding: .8rem;
    border: 1px solid #ccc;
    transition: all .6s;
}

form input:focus,
form button:focus {
    border: 1px solid blue;
}

h1 {
    margin: 2rem 0;
}

.container,
.container-sm {
    margin: 0 auto;
    padding: 0 .5rem;
}
.container {
    max-width: 50rem;
}
.container-sm {
    max-width: 40rem;
}


.left {
    width: 30%;
    float: left;
    padding-right: 1rem;
}
.right {
    width: 70%; 
    float: left;
}