body {
    width: 800px;
    margin: 200px auto;
}

button {
    background: black;
    color:white;
}

p {
    background-color: #eee;
}
.solid {
    border: 2px solid black;
}
.dashed {
    border: 2px dashed black;
}

.bold {
    font-weight: bold;
    font-size: 24px;
}


#logo {
    width: 60px;
    border-radius: 50%;
}
nav {
    background: #eee;
    padding: 10px;
}


[href] {
    border: 2px solid #000;
}
[href="http://biaoyansu.com"] {
    background: pink;
}
[href*="wiki"] {
    border: 2px dashed blue;
}
[href^="http://www."] {
    border: 2px solid red;
}
[href$="su.com"] {
    border: 2px solid orange;
}