
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inline-block 栅格 */
.row {
    font-size: 0;
    vertical-align: top;
}

.col {
    display: inline-block;
    font-size: 14px;

    border: 1px solid rgba(0, 0, 0, .2);
}

.col-1 {width: 4.1666666667%;}
.col-2 {width: 8.3333333333%;}
.col-3 {width: 12.5%;}
.col-4 {width: 16.6666666667%;}
.col-5 {width: 20.8333333333%;}
.col-6 {width: 25%;}
.col-7 {width: 29.1666666667%;}
.col-8 {width: 33.3333333333%;}
.col-9 {width: 37.5%;}
.col-10 {width: 41.6666666667%;}
.col-11 {width: 45.8333333333%;}
.col-12 {width: 50%;}
.col-13 {width: 54.1666666667%;}
.col-14 {width: 58.3333333333%;}
.col-15 {width: 62.5%;}
.col-16 {width: 66.6666666667%;}
.col-17 {width: 70.8333333333%;}
.col-18 {width: 75%;}
.col-19 {width: 79.1666666667%;}
.col-20 {width: 83.3333333333%;}
.col-21 {width: 87.5%;}
.col-22 {width: 91.6666666667%;}
.col-23 {width: 95.8333333333%;}
.col-24 {width: 100%;}

/* inline-block 栅格 结束*/

.fl {
    float: left;
}
.fr {
    float: right;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}
input {
    outline: none;
}

.wrapper {
    width: 70%;
    margin: 0 auto;

    /* border: 1px solid; */
}

/* 主导航 开始 */
.nav {
    background: #545652;
    height: 28px;
}

.nav .fl ul {
    padding-left: 20px;
}
.nav .fr ul {
    padding-right: 20px;
}

.nav .fl ul li {
    float: left;
    padding-right: 22px; 
}
.nav .fr ul li {
    float: right;
    padding-left: 22px; 
}

.nav a {
    color: #d5d5d5;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.nav a:hover {
    color: #fff;
}
/* 主导航 结束 */




/* 页面导航 开始 */
.page-nav {
    background: #f0f6f3;
    height: 74px;
}


.page-logo {
    font-size: 30px;
    font-weight: 800;
}
.page-logo a {
    color: #037b82;
    line-height: 74px;
}

.page-nav-group ul li {
    float: left;
}
.page-nav-group a {
    color: #037b82;
    margin: 14px;
}
.page-nav-group a:hover {
    background: #037b82;
    color: #fff;
}

.page-search input {
    width: 242px;
    height: 28px;
    padding: 4px;
    margin-top: 22px;
}

.page-search input::placeholder {
    color: #ccc;
}


/* 页面导航 结束 */


/* 内容区 开始*/

.con-wrap .con-title-main div {
    font-size: 26px;
    color: #494949;
    line-height: 100px;
    font-weight: 500;
}


        /* 主要内容 开始 */
/* .con-wrap .con-card .like {
    width: 48px;
    height: 48px;
    background: #fae9da;
    color: #ca6445;
    font-size: 13px;
    text-align: center;
    padding: 6px;
} */
/* .con-wrap .con-card-title {
    margin-top: 0;
} */
.con-wrap .con-card-title a {
    font-size: 5px;
    color: #259;
}




        /* 主要内容 结束 */



        /* 侧栏 开始 */

        /* 侧栏 结束 */


/* 内容区 结束*/





